<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> • Gosu</title>
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="main">
    <header id="logo_container">
      <img src="website_header.png" alt="Gosu logo">
    </header>

    <aside class="links">
      <h3>ask, explain, show off</h3>
      <a href="https://www.libgosu.org/cgi-bin/mwf/forum.pl">forum</a>,
      <a href="https://discord.gg/gTaHxdm">Discord server</a> <span class="new">new</span><br>
      <h3>documentation</h3>
      <a href="https://github.com/gosu/gosu/wiki/">wiki on github</a><br>
      <a href="https://www.libgosu.org/rdoc">ruby reference</a><br>
      <a href="https://www.libgosu.org/cpp">c++ reference</a><br>
      <h3>development</h3>
      <a href="https://github.com/gosu/gosu/">source on github</a><br>
      <a href="https://github.com/gosu/gosu/issues">issues &amp; wishlist</a><br>
      <a href="https://github.com/gosu/gosu/releases">change log</a><br>
    </aside>
    
    <aside class="potd">
      <!--#include virtual="/potd.inc" -->
    </aside>
          
    <nav id="tabs">
      <% for page in NAV_PAGES %>
        <% if page.basename == basename %>
          <span><%= title.downcase %></span>
        <% else %>
          <a href="<%= page.basename %>.html"><%= page.title.downcase %></a>
        <% end %>
      <% end %>
    </nav>
  
    <%= render basename %>

    <div style="clear: both"></div>

    <footer>
      <% for page in FOOTER_PAGES %>
        <% if page.basename == basename %>
          <span><%= page.title.downcase %></span>
        <% else %>
          <a href="<%= page.basename %>.html"><%= page.title.downcase %></a>
        <% end %>
        •
      <% end %>
      <a target="_blank" href="https://www.lurado.com/privacy">privacy policy</a>
    </footer>
  </div>
</body>
</html>
